## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_data = pd.merge(mouse_metadata, study_results, how='left', on='Mouse ID')
mouse_data.set_index('Mouse ID', inplace=True)
# Display the data table for preview
mouse_data.head()

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
k403,Ramicane,Male,21,16,0,45.000000,0
k403,Ramicane,Male,21,16,5,38.825898,0
k403,Ramicane,Male,21,16,10,35.014271,1
k403,Ramicane,Male,21,16,15,34.223992,1
k403,Ramicane,Male,21,16,20,32.997729,1

In [42]:
mouse_data.shape

(1893, 7)

In [34]:
# Checking missing values
mouse_data.isnull().sum()

Drug Regimen          0
Sex                   0
Age_months            0
Weight (g)            0
Timepoint             0
Tumor Volume (mm3)    0
Metastatic Sites      0
dtype: int64

In [33]:
# Checking the types of data
mouse_data.dtypes

Drug Regimen           object
Sex                    object
Age_months              int64
Weight (g)              int64
Timepoint               int64
Tumor Volume (mm3)    float64
Metastatic Sites        int64
dtype: object

In [32]:
# Checking the number of mice.
mouse_data.index.value_counts(normalize=True)

g989    0.006867
l897    0.005283
y793    0.005283
e227    0.005283
w914    0.005283
          ...
d133    0.000528
l872    0.000528
t573    0.000528
b447    0.000528
v199    0.000528
Name: Mouse ID, Length: 249, dtype: float64

In [65]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
mouse_data.groupby([mouse_data.index, 'Timepoint']).mean()

                    Age_months  Weight (g)  Tumor Volume (mm3)  \
Mouse ID Timepoint
a203     0                20.0        23.0           45.000000
         5                20.0        23.0           48.508468
         10               20.0        23.0           51.852437
         15               20.0        23.0           52.777870
         20               20.0        23.0           55.173336
...                        ...         ...                 ...
z969     25                9.0        30.0           63.145652
         30                9.0        30.0           65.841013
         35                9.0        30.0           69.176246
         40                9.0        30.0           70.314904
         45                9.0        30.0           73.867845

                    Metastatic Sites
Mouse ID Timepoint
a203     0                       0.0
         5                       0.0
         10                      1.0
         15                      1.0
         20                      1.0
...                              ...
z969     25                      2.0
         30                      3.0
         35                      4.0
         40                      4.0
         45                      4.0

[1881 rows x 4 columns]

In [47]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicates = mouse_data.duplicated()
duplicates.value_counts(normalize=True)

False    0.995774
True     0.004226
dtype: float64

In [52]:
mouse_data[duplicates].sort_values('Drug Regimen')

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
f345,Infubinol,Male,23,26,0,45.0,0
k804,Infubinol,Female,23,29,0,45.0,0
s121,Infubinol,Male,23,26,0,45.0,0
r850,Placebo,Male,5,30,0,45.0,0
v409,Placebo,Female,16,25,0,45.0,0
g989,Propriva,Female,21,26,0,45.0,0
z578,Ramicane,Male,11,16,0,45.0,0
d133,Zoniferol,Male,5,30,0,45.0,0

In [54]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
mouse_data.drop_duplicates(inplace = True)

In [55]:
# Checking the number of mice in the clean DataFrame.
mouse_data.shape

(1885, 7)

## Summary Statistics

In [9]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.

In [10]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [11]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [12]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [13]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [14]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [15]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [16]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [17]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [18]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [19]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [20]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen